{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 0.25%, ie 9, not op_mini all, not dead",
        "node": 8
      }
    }],
    "@babel/preset-react"
  ],
  
  "plugins": [
    "@babel/plugin-external-helpers",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", {legacy: true}],
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-class-properties", {loose: false}]
  ]
}
